<html>
<head>
</head>
<body>

	<div ng-show="!authenticated">
		<h3>{{loginPage}}</h3>
		<div ng-show="scriptError">{{error}}</div>
		<table>
			<tr>
				<td><label>UserName</label> &nbsp; <input type="text"
					ng-model="userName" /></td>
			</tr>
			<tr>
				<td><label>Password</label> &nbsp; <input type="password"
					ng-model="password" /></td>
			</tr>
			<tr>
				<td><input type="button" value="Login" ng-click="submitForm()" /></td>
			</tr>
		</table>
	</div>
	<div ng-show="authenticated" ng-include="template"></div>
</body>
</html>